* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: white;
}

.header {
    padding: 20px;
    margin-bottom: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header header {
    display: inline-block;
    font-size: 48px;
}

.header header .Chiem {
    color: greenyellow;
}

.header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header section ul {
    list-style-type: underline;
}

.header section ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.main {
    display: flex;
    margin-left: 10%;
    margin-right: 3%;
}
 
.layout {
    display: flex;
 
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 20px;
    /* border: solid 1px black; */
    border-left: solid 4px rgba(100, 104, 211, 0.938);
    height: 80vh;
    width: 100%;
    margin-left: 10px;
    /* padding: 20px;
    padding-top: 0; */
    padding: 0 20px 20px 20px ;
}
 
.section-side-header {
    display: flex;
    word-wrap: break-word;
    text-align: right;
    margin: 0;
    font-size: 50px;
}
 
.flex-row {
    display: flex;
    align-self: stretch;
 
    /* border: solid 1px gray; */
    /* height: 100%; */
    flex-grow: 2;
 
    /*  */
    gap: 10px;
 
}
 
.row-one {
    /* flex-grow: 3; */
    flex: 3 0 0;
}
 
.inner-box{
    display: flex;
    border: solid 1px red;
    align-self: stretch;
    flex-grow: 1;
 
    align-items: center;
}
 
.flag {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    margin: 0;
    padding: 10px;
    gap: 10px;
    * {
        margin: 0;
    }
}